*{
    margin-left: 1%;
    margin-right: 1%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-display: medium;
}
html{
    scroll-behavior: smooth;
}
ul li a{
    text-decoration: none;
   
}
ul li a:hover{
    color: aliceblue;
    background-color: blue;
}



hr{
    border: 1% solid black;
    
}
img{
    float: right;
    margin-right: 8%;
   
    
}
body{
    background-image:linear-gradient(rgba(247, 242, 242, 0.541),rgba(242, 239, 239, 0.558)), url("https://ak7.picdn.net/shutterstock/videos/2846317/thumb/8.jpg");
    background-attachment: fixed;
    background-size:cover;
    height: 100vh;

    background-position:center;

}
#loading{
    background: #000 url("load_AdobeExpress.gif") no-repeat center center;
    background-size: 150px;
    height: 100%;
    width:100%;
    position:fixed;
    z-index: 100000;
    
}


